<div id = '<%= @robot.name %>' class="container">
      <a class= 'btn btn-default btn-primary' type= 'submit' href="/robots">Robot World</a>
      <h1><%= @robot.name.capitalize %></h1>
      <p><%= @robot.city %></p>
      <p><%= @robot.state %></p>
      <p><%= @robot.birthdate %></p>
      <p><%= @robot.date_hired %></p>
      <p><%= @robot.department %></p>
      <img src="https://robohash.org/<%= @robot.avatar %>.png">
</div>
